02/tempCodeRunnerFile.py
openCV/data/train/liu_jia_tai/1668989560_1.jpg
openCV/data/train/liu_jia_tai/1668989561_1.jpg
openCV/data/train/liu_jia_tai/1668989562_1.jpg
openCV/data/train/liu_jia_tai/1668989563_1.jpg
openCV/data/train/liu_jia_tai/1668989564_1.jpg
openCV/data/train/liu_jia_tai/1668989565_1.jpg
openCV/data/train/liu_jia_tai/1668989566_1.jpg
openCV/data/train/liu_jia_tai/1668989567_1.jpg
openCV/data/train/liu_jia_tai/1668989568_1.jpg
openCV/data/train/wu_jing/1668989484_1.jpg
openCV/data/train/wu_jing/1668989485_1.jpg
openCV/data/train/wu_jing/1668989488_1.jpg
openCV/data/train/wu_jing/1668989488_2.jpg
openCV/data/train/wu_jing/1668989489_1.jpg
openCV/data/train/wu_jing/1668989489_2.jpg
openCV/data/train/wu_jing/1668989490_1.jpg
openCV/data/train/wu_jing/1668989491_1.jpg
openCV/data/train/wu_jing/1668989492_1.jpg
